<!-- Form album start -->
<%= form_with(model: @album, local: true) do |f| %>
<!-- Form album end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for album_art start -->
  <div class="form-group">
    <%= f.label :album_art %>

    <!-- Input for album_art start -->
    <%= f.text_field :album_art, class: "form-control" %>
    <!-- Input for album_art end -->
  </div>
  <!-- Label and input for album_art end -->

  <!-- Label and input for genre_id start -->
  <!-- Input for genre_id start -->
  <%= f.hidden_field :genre_id, value: @genre.id %>
  <!-- Input for genre_id end -->
  <!-- Label and input for genre_id end -->

  <!-- Label and input for artist_id start -->
  <div class="form-group">
    <%= f.label :artist_id %>

    <!-- Input for artist_id start -->
    <%= f.text_field :artist_id, class: "form-control" %>
    <!-- Input for artist_id end -->
  </div>
  <!-- Label and input for artist_id end -->

  <%= f.submit "Create album", class: "btn btn-block btn-outline-secondary" %>
<% end %>
