<% was_validated = artist.errors.any? %>

<%= form_with(model: artist, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% artist_image_class = "form-control" %>
    <% artist_image_was_invalid = artist.errors.include?(:artist_image) %>

    <% if was_validated %>
      <% if artist_image_was_invalid %>
        <% artist_image_class << " is-invalid" %>
      <% else %>
        <% artist_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :artist_image %>
    <%= f.text_field :artist_image, class: artist_image_class, placeholder: "Enter artist image" %>
    <% if artist_image_was_invalid %>
      <% artist.errors.full_messages_for(:artist_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% artist_bio_class = "form-control" %>
    <% artist_bio_was_invalid = artist.errors.include?(:artist_bio) %>

    <% if was_validated %>
      <% if artist_bio_was_invalid %>
        <% artist_bio_class << " is-invalid" %>
      <% else %>
        <% artist_bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :artist_bio %>
    <%= f.text_field :artist_bio, class: artist_bio_class, placeholder: "Enter artist bio" %>
    <% if artist_bio_was_invalid %>
      <% artist.errors.full_messages_for(:artist_bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
