<%= form_with(model: @song, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :album_id, value: @album.id %>

  <div class="form-group">
    <%= f.label :artist_id %>

    <%= f.collection_select :artist_id, Artist.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create song", class: "btn btn-block btn-outline-secondary" %>
<% end %>
